<footer class="al-footer clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3">
                <nav class="clearfix">
                    <ul>
                        <li><a href="">Terms</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Support</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-6 text-center copyrights"><h2><b>MoneyMe</b> is owned by <b>Three Donuts 2017</b></h2>
            </div>
            <div class="col-sm-3 credits">
                <p>Coded with <i class="fa fa-heart fa-2x" aria-hidden="true"></i></p>
            </div>
        </div>
    </div>
</footer>