<footer class="al-footer clearfix">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-5">
                <nav class="clearfix">
                    <ul>
                        <li><a href="">Terms</a></li>
                        <li><a href="">Privacy</a></li>
                        <li><a href="">Support</a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-sm-4">hesh</div>
            <div class="col-sm-3">dsd</div>

        </div>
    </div>
</footer>