<div class="container-fluid home-page" ng-init="home.init()">
    <div class="row weekly-report-heading">
        <div class="col-sm-3 hidden-xs"></div>
        <div class="col-sm-6 col-xs-12">
            <h1>Find Your <span>H</span>appy Investment Space.</h1>
            <h1>Change Your<span></span> <span>W</span>orld</h1>
        </div>
        <div class="col-sm-3 col-xs-12 text-center weekly-payout-report">
            <h2>Weekly Payout Report:</h2>
            <ul>
                <li><a href="">HASHFLARE.IO</a></li>
                <li><a href="">GENESIS-MINING.COM</a></li>
                <li><a href="">AURUM-BANK.COM</a></li>
                <li><a href="">CRYPTOMINEHOLDINGS.COM</a></li>
                <li><a href="">BITPETITE.COM</a></li>
                <li><a href="">FEXBIT.COM</a></li>

            </ul>
        </div>
    </div>
</div>
