.home-page {
  height: -webkit-fill-available;
  width: 100%;
  margin: 0;
  -webkit-filter: grayscale(50%);
  background: url(/assets/img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}